 <div class="back">
   <video autoplay muted loop playsinline>
    <source src="assets/videos/video-admin.mp4" type="video/mp4" />
   
  </video>
<div class="login-container">
  <div class="login-card">
    <h2>Admin Login</h2>
    <!-- <div class="back-arrow"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
</svg></div> -->
 
 
    <form [formGroup]="adminform" (ngSubmit)="onSubmit()">
      <div class="mb-2">
  <label for="username" class="form-label text-start d-block text-dark h4">Username:</label>
 
  <input type="email" id="username" formControlName="Email" placeholder="username"  class= "  form-control" />
  <div class="error" *ngIf="f['Email'].touched && f['Email'].invalid">
  <p *ngIf="f['Email'].errors?.['required']">Email is required</p>
  <p *ngIf="f['Email'].errors?.['email']">Enter a valid email</p>
  </div>
</div>
      <div class="password-container mt-3">
  <label for="password" class="form-label text-start d-block text-dark h4">Password:</label>
  <input type="password" id="password" formControlName="password" placeholder="password" class="  form-control" />
  <div class="error" *ngIf="f['password'].touched && f['password'].invalid">
  <p *ngIf="f['password'].errors?.['required']">Password is required</p>
  </div>
</div>
 
      <!-- <div class="links mt-4 ">
  <a routerLink="/Account-Registration" > Account <br> Registration</a>
   <a routerLink="/forgate-password"> Forgote <br>  Password </a>
      </div> -->
<br><br>
      <button type="submit" class="login-button">Login</button>
    </form>
  </div>
</div>
 </div>
 
<div *ngIf="isloading" class="spinner-overlay">
   <div class="spinner"></div>
</div>
 
<div class="popup-overlay" *ngIf="showpopup">
  <div class="popup-card">
    <div class="popup-icon">
      <img src="assets/images/check.png" style="width:40px;height:40px" alt="imgsri"/>
    </div>
    <h4 class="h3 fs-1">Login Successful</h4>
   
    <h4><a routerLink="/delivery" class="btn btn-primary">Delivery agents</a></h4>
  </div>
</div>
<div class="error-overlay" *ngIf="showErrorPopup">
  <div class="error-card">
    <div class="error-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="red" class="bi bi-x-circle" viewBox="0 0 16 16">
        <path d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
      </svg>
    </div>
    <h4>Login Failed</h4>
    <p>{{ errorMessage }}</p>
    <button class="btn btn-danger w-25 mt-3" (click)="showErrorPopup = false">Close</button>
  </div>
</div>