.product-wrapper {
  max-width: 1200px;
  margin: 40px auto;
  display: flex;
  gap: 30px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 40px;
}

/* Product Image */
.image-section img {
  width: 460px;
  height: 500px;
  object-fit: cover;
  border-radius: 50px;
  background-color: rgb(210, 32, 32);
}
.arrow-icon {
  width: 60px;
  height: 50px;
  fill: currentColor;
  filter: drop-shadow(0 0 0.5px currentColor);
}
/* Title */
.title {
  font-size: 32px;
  margin-top: 25px;
  font-weight: 600;
}

/* Headings */
.section-heading {
  margin-top: 25px;
  margin-bottom: 12px;
  font-size: 22px;
  color: #ff6f00;
  font-weight: 600;
}

/* List Styling */
.details-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.details-list li {
  margin-bottom: 10px;
  font-size: 17px;
}

.details-list i {
  margin-right: 8px;
  color: #ff6f00;
}

/* Offer badge colors */
.offer-true {
  color: #28a745;     /* green */
  font-weight: 600;
}

.offer-false {
  color: #dc3545;     /* red */
  font-weight: 600;
}

/* Add to Cart Button */
.add-btn {
  margin-top: 30px;
  background: #ff6f00;
  color: #fff;
  padding: 14px 28px;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  cursor: pointer;
}

.add-btn i {
  margin-right: 6px;
}
