form.card {
  background-color: #ffffff;
  border-radius: 10px;
  max-width: 600px;
  margin: auto;
}

form h3 {
  font-weight: 600;
  color: #007bff;
}
.error p {
  color: red;
  font-size: 13px;
  margin: 0 0 8px;
  width: 80%;
}