<footer class="footer text-dark py-4">
  <div class="container">
    <div class="row" style="width:1400px">
      <div class="col-md-2 mb-4">
        <div class="d-flex flex-column align-items-center justify-content-start">
 <div class="logos">
<div class="logo">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900 240" role="img" aria-labelledby="title desc">
    <title id="title">Tiffino Logo</title>
    <desc id="desc">Orange map pin with white letter T followed by the word Tiffino in bold orange text.</desc>

    <defs>
      <style>
        .brand { fill: #ff6b00; }
        .white { fill: #ffffff; }
        .word  { font: 800 110px/1.1 system-ui, -apple-system, Segoe UI, Roboto, Inter, Poppins, Arial, sans-serif; }
      </style>
    </defs>

    <!-- Pin icon -->
    <g transform="translate(0,0)">
      <path class="brand" d="M100 20c-44 0-80 33.8-80 75.5 0 50 71 107.2 77 112a5 5 0 0 0 6 0c6-4.8 77-62 77-112C180 53.8 144 20 100 20z"></path>
      <rect class="white" x="70" y="72" width="60" height="20" rx="10"></rect>
      <rect class="white" x="95" y="92" width="10" height="48" rx="5"></rect>
    </g>

    <!-- Wordmark -->
    <text class="word brand" x="220" y="135">Tiffino</text>
  </svg>
</div>
</div>
          <p class="mt-auto mb-0 text-left ms-1">&copy; 2025 Tiffino Limited</p>
        </div>
      </div>

      <!-- States Section -->
             
      
    <div class="col-md-2 mb-4">
  <h6 class="fw-bold fs-6">States</h6>
  <ul class="list-unstyled">
    <li *ngFor="let state of firstColumn">
      <a [routerLink]="['/filterstate', state.id]">{{ state.name }}</a>
    </li>
  </ul>
</div>

<div class="col-md-2 mb-4">
  <h6 class="fw-bold fs-6"></h6>
  <ul class="list-unstyled">
    <li *ngFor="let state of secondColumn">
      <a [routerLink]="['/filterstate', state.id]">{{ state.name }}</a>
    </li>
  </ul>
</div>
<div class="col-md-2 mb-4">
  <h6 class="fw-bold fs-6"></h6>
  <ul class="list-unstyled">
    <li *ngFor="let state of thirdColumn">
      <a [routerLink]="['/filterstate', state.id]">{{ state.name }}</a>
    </li>
  </ul>
</div>
      <!-- Company Links -->
      <div class="col-md-1 mb-4" >
        <h6 class="fw-bold fs-6">Company</h6>
        <ul class="list-unstyled">
          <li class="me-4"><a routerLink="/menu">About Us</a></li>
          <li class="me-4"><a routerLink="/register">Create Account</a></li>
          <li class="me-4"><a routerLink="/menu">Tiffino Corporate</a></li>
          <li class="me-4"><a routerLink="/menu">Careers</a></li>
          <li class="me-4"><a routerLink="/menu">Team</a></li>
        </ul>
      </div>
             
      <!-- Contact Links -->
      <div class="col-md-1 mb-4">
        <h6 class="fw-bold fs-6">Contact Us</h6>
        <ul class="list-unstyled">
          <li><a routerLink="/contact">Help & Support</a></li>
          <li><a routerLink="/contact">Partner With Us</a></li>
        </ul>
      </div>
    

      <!-- Legal Links -->
      <div class="col-md-1 mb-4 ">
        <h6 class="fw-bold fs-6">Legal</h6>
        <ul class="list-unstyled">
          <li><a [routerLink]="['/terms']" [fragment]="'terms-section'">Terms and Conditions</a></li>
          <li><a [routerLink]="['/cookies']" [fragment]="'termsis-section'">Cookie Policy</a></li>
          <li><a [routerLink]="['/cookiesprivacy']" [fragment]="'termsi-section'">Privacy Policy</a></li>
        </ul>
      </div>

      <!-- Social Links -->
      <div class="col-md-3">
        <h6 class="fw-bold text-start ms-4">Social Links</h6>
        <div class="social-icons d-flex gap-3 mt-2">
          <a href="https://www.linkedin.com/login" target="_blank"><img class="linkedin" src="./assets/images/linkedin.png" alt="LinkedIn" /></a>
          <a href="https://www.instagram.com/?hl=en" target="_blank"><img class="instagram" src="./assets/images/instagram.png" alt="Instagram" /></a>
          <a href="https://x.com/" target="_blank"><img class="twitter" src="./assets/images/twitter.png" alt="Twitter" /></a>
          <a href="https://www.facebook.com/login/?locale=en_GB" target="_blank"><img class="facebook" src="./assets/images/facebook.png" alt="Facebook" /></a>
        </div>
      </div>

    </div>
  </div>
</footer>
